<div ng-controller="homeController">
    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Food For Change</h1>
                        <h3>uniting the community one meal at a time </h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a ng-click="scrollTo('stats')" class="btn btn-default btn-lg"><i class="fa fa-bar-chart"></i> <span class="network-name">Statistics</span></a></li>
                            <li><a ng-click="scrollTo('stories')" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Stories</a></li>
                            <li><a ng-click="scrollTo('join')" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>Join Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-7 col-lg-offset-2">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">ABOUT</h2>
                    <p class="lead">Welcome to Food for Change! This organization is
                        dedicated to feeding the hungry and changing the
                        perception towards those in need. Local Businesses have
                        teamed up with Food for Change so that anyone in need
                        can step in and grab a meal. We can’t do this without you!
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-5 col-sm-7">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" style = "margin-left:35px;">HOW IT WORKS</h2>
                    <p class="lead">
                        <ol class = "custom-counter" style = "font-size: 19px">
                            <li>Local Businesses register with Food for Change. </li><br>
                            <li>Community members can donate a meal using a Food for Change tablet at checkout or can donate remotely on this site.
                            </li><br>
                            <li>Those in need no longer need to panhandle and can walk in to affiliated locations and
                                receive a meal. </li><br>
                        </ol>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-7 col-sm-5">
                    <img class="img-responsive" src="assets/pay_it_forward.jpg" alt="" size ="900px" width = "500px">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <a id="stats"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row" id = "progress">
                <div class="col-lg-12 col-sm-12" style="text-align:center;">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">OUR PROGRESS</h2>
                    <!--<p class="lead">
                    </p> -->
                    <div class = "col-lg-2 col-sm-2">
                        <h1 id="mealsDonated"></h1>
                        <h3>MEALS DONATED</h3>
                    </div>
                    <div class = "col-lg-2 col-sm-2 col-lg-offset-1">
                        <h1 id="mealsServed"></h1>
                        <h3>MEALS SERVED</h3>
                    </div>
                    <div class = "col-lg-2 col-sm-2 col-lg-offset-1">
                        <h1 id="localPartners">10</h1>
                        <h3>LOCAL PARTNERS</h3>
                    </div>
                    <div class = "col-lg-2 col-sm-2 col-lg-offset-1">
                        <h1 id="available"></h1>
                        <h3>TOTAL AVAILABLE DONATIONS</h3>
                    </div>
                </div>
            </div>
            <div class = "row" id = "graph" style="text-align:center;">
                <!-- GRAPH -->
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <a id="stories"></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">STORIES</h2>
                    <p class="lead">
                        <i class="fa fa-quote-left"></i>
                        I used to spend hours sitting outside shops feeling ashamed for having to beg
                        for money to eat. Now I can walk into a shop and get a meal while I spend my time
                        finding ways to provide for myself. I’m so grateful for this organization and one
                        day I want to be the one donating. We’re all human and we should care for one another.
                        <i class="fa fa-quote-right"></i><br>
                        <b> - Bill </b>
                    </p>
                    <hr>
                    <p class = "lead">
                        Many people in Ithaca feel similarly to Bill. Begging for basic human rights can make a
                        person in need feel shameful and isolated. In reality, those that need help are
                        contributing members of society and being kind to those in need will both motivate
                        them to seek sustainable livelihoods and others to engage in acts of kindness.
                    </p><br>
                    <div class = "row" id = "donate_button">
                        <div style = "margin-left: 15px">
                            <a href="stories.html">MORE STORIES</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/happy-homeless.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <a id="join"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">JOIN US</h2>
                    <p class="lead">
                        Food for Change depends on local business partnerships. If you have
                        been inspired to help members of the community pay it forward with a meal to
                        someone in need, join our family! We’d love to have you!
                    </p>
                </div>
                <div class = "col-lg-4 col-sm-4" id = "donate_button">
                    <div style = "margin-left: 30px; padding-top:120px">
                        <a href="register.html">REGISTER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2></h2>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
</div>
