.company {
    text-decoration: underline;
    text-decoration-color: #89b0e7;
    position: relative;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

#number_avail {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    color: rgb(63, 132, 197);
    font-weight: bold;
    border-radius: 3px;
    font-size: 100px;
}

#item_avail {
    font-style: italic;
    text-transform: uppercase;
    font-size: 22px
}

.banner-donate {
    padding: 220px 0;
    color: #f8f8f8;
    background: url(../img/thanks-copy.jpg) no-repeat center center;
    background-size: cover;
}

#donate-header {
    padding-top: 170px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: rgb(63, 132, 197);
    margin-left: 140px;
}

#donate-header h1 {
    font-size: 80px;
    color: rgb(63, 132, 197);
}

#donate-header h3 {
    text-space: 5px;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}

.custom-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    color: rgb(63, 132, 197);
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 30px;
}
.custom-counter li {
    counter-increment: step-counter;
}




/*<h2 id = "number_avail">10</h2> <h3 id = "item_avail">bagels available</h3>.*/
